{% extends 'base.html' %}
{% block content %}

<section class="form-section">
    <div class="form-container col-10 col-md-8 col-lg-6">
        <p class="fs-3 text-center">Edit Meal</p>
        <form action="{{url_for('post.edit_meal', id=meal.id)}}" method="POST">
            {{ form.csrf_token }}
            <fieldset>
                {% for field in form %}

                {% if field != form.csrf_token and field != form.submit%}

                {{field.label}}:
                {{field(class_="form-control mb-4 bg-light")}}
                <ul>
                    {% for error in field.errors %}
                    <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>

                {% endif %}

                {% endfor %}

                {{form.submit(class_="btn btn-primary col-6 offset-3")}}

                <a href="/delete_meal/{{meal.id}}">
                    <div class="btn btn-danger col-6 offset-3 mt-4"> Delete Meal </div>
                </a>
            </fieldset>
        </form>
    </div>
</section>
{% endblock content %}