{% extends 'base.html' %}
{% block content %}

<section class="p-5 d-flex">
    <img src="{{meal.img_url}}" />
    <div class="mx-4">
        <p class="fs-4">{{meal.name.title()}}</p>
        <p>Description: {{meal.description}}</p>
        <p>Date Prepared: {{meal.date_prepared.strftime("%m/%d/%Y, %H:%M:%S")}}</p>
        <p>Prepared By: <a href="/profile/{{meal.created_by.id}}">{{meal.created_by.username.title()}}</a></p>
        <div>
            <p>Recipes:</p>
            <ul>
                {% for recipe in meal.recipes %}
                <li><a href="/view_recipe/{{recipe.id}}">{{recipe.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% if current_user.id == meal.created_by_id %}
        <div class="mt-5">
            <a href="/edit_meal/{{meal.id}}">
                <div class="btn btn-warning">Edit Meal</div>
            </a>
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}