{% extends 'base.html' %}
{% block content %}

<section class="user-info-section ps-5 mb-5">
    <p class="fs-2 my-2">{{user.username.title()}}'s Profile</p>
    {% if current_user.id == user.id%}
    <p>Last Active: {{user.last_active.strftime("%m/%d/%Y, %H:%M:%S")}}</p>
    <p class="p-0 m-0 fs-5">Email: {{user.email}}</p>
    <small class="text p-0 m-0">email not visible to other users</small>
    {% endif %}

</section>

<section class="user-meals-section ps-5 my-5">
    <div>
        <p class="fs-2">Meals:</p>
        <div>
            <a href="/create_meal">
                <div class="btn btn-primary col"> Create Meal </div>
            </a>
        </div>
        <div class="row mt-4">
            {% for meal in user.meals %}
            <div class="card m-3 pt-2" style="width: 18rem;">
                <img src="{{meal.img_url}}" class="card-img-top" alt="{{meal.name}}">
                <div class="card-body">
                    <p class="fs-5">{{meal.name.title()}}</p>
                    <p class="card-text">{{meal.description}}</p>
                    <p class="card-text">{{meal.date_prepared.strftime("%m/%d/%Y, %H:%M:%S")}}</p>

                    {% if current_user.id == meal.created_by_id %}
                    <div>
                        <a href="/edit_meal/{{meal.id}}">
                            <div class="btn btn-warning">Edit Meal</div>
                        </a>
                    </div>
                    {% endif %}

                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="user-recipes-section ps-5 my-5">
    <div>
        <p class="fs-2">Recipes:</p>
        <div>
            <a href="/create_recipe">
                <div class="btn btn-primary col"> Create Recipe </div>
            </a>
        </div>
        <div class="row mt-4">
            {% for recipe in user.recipes %}
            <div class="card border-dark mb-3 mx-3" style="max-width: 18rem;">
                <div class="card-header">{{recipe.name}}</div>
                <div class="card-body text-dark">
                    <p class="card-text fs-4">{{recipe.description}}</p>
                    <p class="card-text">{{recipe.instructions[0:30]}}</p>
                    <p class="card-text">{{recipe.ingredients[0:30]}}</p>
                </div>

                {% if current_user.id == recipe.created_by_id %}
                <div class="mx-3 mb-3">
                    <a href="/edit_recipe/{{recipe.id}}">
                        <div class="btn btn-warning">Edit Meal</div>
                    </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}