{% extends 'base.html' %}
{% block content %}

<section class="user-info-section ps-5 mb-5">
    <p class="fs-2 my-2">{{user.username.title()}}'s Profile</p>
    <p>Last Active: {{user.last_active.strftime("%m/%d/%Y, %H:%M:%S")}}</p>
    {% if current_user.id == user.id%}
    <p class="p-0 m-0 fs-5">Email: {{user.email}}</p>
    <small class="text p-0 m-0">email not visible to other users</small>
    {% endif %}

</section>

<section class="user-meals-section ps-5 my-5">
    <div>
        <p class="fs-2">Meals:</p>
        <div>
            <a href="/create_meal">
                <div class="btn btn-primary col"> Create Meal </div>
            </a>
        </div>
        <div class="row mt-4">
            {% for meal in user.meals %}
            <a href="/view_meal/{{meal.id}}">
                <div class="card m-3 pt-2" style="width: 18rem;">
                    <img src="{{meal.img_url}}" class="card-img-top" alt="{{meal.name}}">
                    <div class="card-body">
                        <p class="fs-5">{{meal.name.title()}}</p>
                        <p class="card-text">{{meal.description}}</p>
                        <p class="card-text">{{meal.date_prepared.strftime("%m/%d/%Y, %H:%M:%S")}}</p>

                    </div>

                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

<section class="user-recipes-section ps-5 my-5">
    <div>
        <p class="fs-2">Recipes:</p>
        <div>
            <a href="/create_recipe">
                <div class="btn btn-primary col"> Create Recipe </div>
            </a>
        </div>
        <div class="row mt-4">
            {% for recipe in user.recipes %}
            <a href="/view_recipe/{{recipe.id}}">
                <div class="card border-dark mb-3 mx-3" style="max-width: 18rem;">
                    <div class="card-header">{{recipe.name}}</div>
                    <div class="card-body text-dark">
                        <p class="card-text">{{recipe.description}}</p>
                        <p class="card-text">{{recipe.instructions[0:80]}}...r</p>
                        <p class="card-text">{{recipe.ingredients[0:80]}}...</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}