{% extends 'base.html' %}
{% block content %}

<section class="p-5 d-flex">
    <div class="mx-4">
        <p class="fs-4">{{recipe.name.title()}}</p>
        <p>Description: {{recipe.description}}</p>
        <p>Ingredients: {{recipe.ingredients}}</p>

        <p class="mt-5">Created By:
            <a href="/profile/{{recipe.created_by.id}}">{{recipe.created_by.username.title()}}</a>
        </p>
        <div>
            <p>Meals made with this recipe:</p>
            <ul>
                {% for meal in recipe.meals %}
                <a href="/view_meal/{{meal.id}}">{{meal.name}}</a>
                {% endfor %}
            </ul>
        </div>

        {% if current_user.id == recipe.created_by_id %}
        <div class="mt-5">
            <a href="/edit_recipe/{{recipe.id}}">
                <div class="btn btn-warning">Edit Recipe</div>
            </a>
        </div>
        {% endif %}
    </div>
</section>



{% endblock content %}